.left {
    width: calc(30% - 20px);
    height: 100%;
    display: inline-block;
    padding: 0px;
    margin: 10px;
}

.selection {
    width: 100%;
    height: 10%;
    display: inline-block;
    background-color: aquamarine;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

.figure {
    width: 100%;
    height: 90%;
    padding: 0px;
    background-color: black;
    margin: 0px;
}

.data {
    width: calc(70% - 20px);
    height: 100%;
    display: inline-block;
    background-color: burlywood;
    vertical-align: top;
    margin: 10px;
}